---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - devportal.kuadrant.io
  resources:
  - apiproducts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devportal.kuadrant.io
  resources:
  - apiproducts/finalizers
  verbs:
  - update
- apiGroups:
  - devportal.kuadrant.io
  resources:
  - apiproducts/status
  verbs:
  - get
  - patch
  - update
