---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: apiproducts.devportal.kuadrant.io
spec:
  group: devportal.kuadrant.io
  names:
    kind: APIProduct
    listKind: APIProductList
    plural: apiproducts
    singular: apiproduct
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: APIProduct is the Schema for the apiproducts API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: APIProductSpec defines the desired state of APIProduct.
            properties:
              foo:
                description: Foo is an example field of APIProduct. Edit apiproduct_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: APIProductStatus defines the observed state of APIProduct.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
